<% tmp = cookies['ASH_jsc'] %>
<div class="row">
  <div class="col-md-9">
  <% if tmp == '0' %>
    <h1>トップページ</h1>
  <% Picture.all.in_groups_of(3) do |group| %>
    <% group.compact.each do |picture| %>
    <div class="col-md-4">
    <div class="main">
      <h4><%= picture.picture_title %></h4>
      <div><%= link_to image_tag(picture.picture_data(), width: 280, height: 210), picture %></div>
    </div>
  </div>
  <% end %>
  <% end %>
  <% else %>
    <h1>
    <%= tmp %>の画像一覧
    </h1>
  <% Picture.where(picture_time: tmp).all.in_groups_of(3) do |group| %>
    <% group.compact.each do |picture| %>
    <div class="col-md-4">
    <div class="main">
      <h4><%= picture.picture_title %></h4>
      <div><%= link_to image_tag(picture.picture_data(), width: 280, height: 210), picture %></div>
    </div>
  </div>
    <% end %>
  <% end %>
  <% end %>


    </div>
  <div class="col-md-3">
    <div class="col-md-10 col-md-offset-1">
      <div id="calendar"></div>
    </div>
    <div class="col-md-12">
    <div class="sub">
      <h3>タグ一覧</h3>
      <div class="contents">
      <ul>
        <% Tag.all.compact.each do |tag| %>
        <li><%= link_to tag.tag_name, tag %></li>
        <% end %>
      </ul>
      </div>
    </div>
      </div>
  </div>
</div>

<br />