<h2>登録情報確認</h2>

<p>
  <strong>社員番号:</strong>
  <%= @user.user_number %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>勤務地:</strong>
  <%= @user.user_place %>
</p>

<p>
  <strong>所属サークル:</strong>
  <%= @user.user_circle %>
</p>

<p>
  <strong>入社年度:</strong>
  <%= @user.user_year %>
</p>

<%= link_to '変更', edit_user_path(@user) %> |
<%= link_to '戻る', edit_user_registration_path %>
