<!--
<p id="notice"><%= notice %></p>
-->

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@picture.picture_data_url, width: '100%') if @picture.picture_data.present? %>
  </div>

  <div class="col-md-3">
    <p><b>タイトル: </b><%= @picture.user_id %></p>
    
    <p><b>タイトル: </b><%= @picture.picture_title %></p>
    <p><b>コメント: </b><%= @picture.picture_comment %></p>

<!--
    <p><b>タグ１: </b><%= @picture.picture_tag1_id %></p>
    <p><b>タグ２: </b><%= @picture.picture_tag2_id %></p>
    <p><b>タグ３: </b><%= @picture.picture_tag3_id %></p>
-->

    <p>
      <%= link_to '編集', edit_picture_path(@picture) %> |
      <%= link_to '消去', @idea, data: { confirm: '本当に消去しますか？' }, method: :delete %> |
      <%= link_to '投稿フォーム', new_picture_path(@picture) %> |
      <%= link_to 'トップ', pictures_path %>
    </p>
  </div>
</div>

<br>
<h3>コメント</h3>
<% @comments.each do |comment| %>
  <div>
    <p><%= comment.comment_time %></p>
    <strong><%= comment.user_name %></strong>
    <p><%= comment.comment_body %></p>
    <p><%= link_to '消去', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
  </div>
  <br>
<% end %>


<h3>コメント投稿</h3>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="nondisplayFrame">
  <div class="field">
    <%= f.label :picture_id %><br>
    <%= f.number_field :picture_id %>
  </div>
</div>

  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :コメント %><br>
    <%= f.text_area :comment_body %>
    <%= f.hidden_field :picture_id %>
  </div>
  <div class="field">

    <div class="nondisplayFrame">
    <%= f.label :comment_time %><br>
    <%= f.datetime_select :comment_time %>
    </div>
    </div>


  <div class="actions">
    <%= f.submit :送信 %>
  </div>
<% end %>