<!--
<p id="notice"><%= notice %></p>
-->

<div class="row">
  <div class="col-md-9">
    <h3>「<%= @picture.picture_title %>」</h3>
    <h4><%= @picture.picture_comment %></h4>
    <% tag1 = Tag.where(id: @picture.picture_tag1_id).first %>
    <% tag2 = Tag.where(id: @picture.picture_tag2_id).first %>
    <% tag3 = Tag.where(id: @picture.picture_tag3_id).first %>
    <% #group.compact.each do |tag| %>
    <h5>
      <%= tag1.tag_name %>
      <%= tag2.tag_name %>
      <%= tag3.tag_name %>
    </h5>

    <%= image_tag @picture.picture_data, width: '100%' if @picture.present? %>

    <% name = User.where(id: @picture.user_id).first %>
    <h5>
      <% if name == nil %>
      <% else %>
      <%= name.email %>
      <% end %>
    </h5>
  </div>

  <% #end %>

  <div class="col-md-3">




    <p>

      <br>
      <!--
      <%= link_to 'トップ', '/top/info' %> |
      <%= link_to '投稿フォーム', new_picture_path(@picture) %>
      -->
    <% if @picture.user_id == current_user.id %>
    <%= link_to '消去', @picture, data: { confirm: '本当に消去しますか？' }, method: :delete %>
    </p>
    <% end %>
<br>
<br>
<br>

<% @comments.each do |comment| %>
  <div>
    <p><%= comment.comment_time %></p>
    <strong><%= comment.user_name %></strong>
    <p><%= comment.comment_body %></p>
    <!--
    <p><%= link_to '消去', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
    -->
    </div>
  <br>
<% end %>


<h4>コメント投稿</h4>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.text_area :comment_body %>

  </div>
  <div class="field">

    <div class="nondisplayFrame">
    <%= f.label :comment_time %><br>
    <%= f.datetime_select :comment_time %>
    </div>
    </div>


  <div class="actions">
    <%= f.submit :送信 %>
  </div>
<% end %>



<!--
    <p><b>タグ１: </b><%= @picture.picture_tag1_id %></p>
    <p><b>タグ２: </b><%= @picture.picture_tag2_id %></p>
    <p><b>タグ３: </b><%= @picture.picture_tag3_id %></p>
-->


  </div>
</div>
