<!--
<p id="notice"><%= notice %></p>
-->

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@picture.picture_data_url, width: '100%') if @picture.picture_data.present? %>
  </div>

  <div class="col-md-3">
    <p><b>タイトル: </b><%= @picture.picture_title %></p>
    <p><b>コメント: </b><%= @picture.picture_comment %></p>

<!--
    <p><b>タグ１: </b><%= @picture.picture_tag1_id %></p>
    <p><b>タグ２: </b><%= @picture.picture_tag2_id %></p>
    <p><b>タグ３: </b><%= @picture.picture_tag3_id %></p>
-->

    <p>
      <%= link_to '編集', edit_picture_path(@picture) %> |
      <%= link_to '消去', @idea, data: { confirm: '本当に消去しますか？' }, method: :delete %> |
      <%= link_to '投稿フォーム', new_picture_path(@picture) %> |
      <%= link_to 'トップ', pictures_path %>
    </p>
  </div>
</div>

<h3>コメント</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.comment_body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>

<!--

<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @picture.picture_id %>
</p>

<p>
  <strong>Picture title:</strong>
  <%= @picture.picture_title %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user_id %>
</p>

<p>
  <strong>Picture data:</strong>
  <%= image_tag(@picture.picture_data_url, width: 200) if @picture.picture_data.present? %>
</p>

<p>
  <strong>Picture comment:</strong>
  <%= @picture.picture_comment %>
</p>

<p>
  <strong>Picture tag1:</strong>
  <%= @picture.picture_tag1_id %>
</p>

<p>
  <strong>Picture tag2:</strong>
  <%= @picture.picture_tag2_id %>
</p>

<p>
  <strong>Picture tag3:</strong>
  <%= @picture.picture_tag3_id %>
</p>

<p>
  <strong>Picture time:</strong>
  <%= @picture.picture_time %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

-->