<!DOCTYPE html>
<html>
<head>
  <title>Avasta</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/top/info"><i class="fa fa-home"></i>AVASTA</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>ようこそ、 <strong><%= current_user.email %></strong> さん！</li>
        <li><a class="navbar-brand" href="/mypage/index"><i class="fa fa-child"></i>プロフィール</a></li>
        <li><a class="navbar-brand" href="/pictures/new"><i class="fa fa-camera"></i>写真投稿</a></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
          <i class="fa fa-circle-o-notch"></i>ログアウト
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to  new_user_session_path, :class => 'navbar-link' do  %>
          <i class="fa fa-circle-o"></i>ログイン
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>

<div class="container">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <%= yield %>
</div>

  <footer>

</footer>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
